@using System.Linq
@using System.Collections.ObjectModel
@using Core;
@model Collection<Profile>
           
@{
    ViewBag.Title = "Users";
}

@section navigation
{
	<li>@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li>@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li id="current">@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<!--<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>-->
	<!--<li>@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>-->
}

<div class="container">
    <div class="row">
        <div class="twelvecol last">
        
            <h2>@ViewBag.Title</h2>
                       
            <p class="message"></p>
            
            <div class="pagination"><input type="text" id="Filter" placeholder="Eg: Filter" /><div class="page_navigation"></div></div>
			<table class="default-table users" id="users"> 
                <thead>            
				    <tr>
                        <th><span class="tick"></span></th>
					    <th>Username</th>
					    <th>Email</th>
					    <th>Last online</th>
					    <th></th>
					    <th></th>
					    <th></th>
				    </tr>
                </thead> 
                <tbody>
                    @foreach (Profile User in Model.Where(p => p.RoleName == "Managers"))
                    {
                        <tr id="@User.ProviderUserKey.ToString()">
                            <td><span class="tick"></span></td>
                            <td>@User.UserName</td>
                            <td>@User.Email</td>
                            <td>@User.LastLoginDate</td>
                            <td class="status">
                                @if (User.IsApproved) {
                                    <span class="approved" />
                                } else {
                                    <span class="unapproved" />
                                }</td>
                            <td class="status">
                                @if (User.IsLockedOut) {
                                    <span class="locked" />
                                } else {
                                    <span class="unlocked" />
                                }</td>
                            <td class="status">
                                @if (User.IsOnline) {
                                    <span class="online" />
                                } else {
                                    <span class="offline" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id="action-panel">
    <h2>Actions</h2>
    <ul class="actions">
        <li><a href="/Users/Create" class="button" id="create">Create</a></li>
        <!-- <li><a href="#" class="button" id="view">View</a></li> -->
        <li><a href="#" class="button" id="edit">Edit</a></li>
        <li><a href="#" class="button" id="activate">Activate</a></li>
        <li><a href="#" class="button" id="deactivate">Deactivate</a></li>
        <li><a href="#" class="button" id="unlock">Unlock</a></li>
    </ul>
</div>

<script type="text/javascript">
    var settings = {
        selectedColumn: 1,
        ignoreColumns: [0],
        onComplete: function () {
            $('.page_navigation').paginate({ collection: 'tbody > tr', recordsperpage: 20, container: 'tbody > tr' });
        }
    };

    var filterSettings = {
        filterInput: '#Filter',
        ignoreColumns: [0],
        onComplete: function () {
            $('.users').sortTable(settings);
        }
    };

    var pMessage = $('.message');

    $(function () {
        $('.users').filterTable(filterSettings);
        displayButtons('#users');

        // Setting this to live click, seems to detect the selection properly. 
        // If we don't, then when a row is selected, it doesn't detect it properly (even if we use window.load()).
        $('#users').live('click', function () {
            displayButtons('#users');
        });

        $('#edit', '.actions').click(function (e) {
            e.preventDefault();
            window.location = '/Users/Edit/' + $('.selected', '.users').attr('id');
        });

        $('#activate', '.actions').click(function (e) {
            e.preventDefault();
            activate($('.selected', '.users').attr('id'));
        });

        $('#deactivate', '.actions').click(function (e) {
            e.preventDefault();
            deactivate($('.selected', '.users').attr('id'));
        });

        $('#unlock', '.actions').click(function (e) {
            e.preventDefault();
            unlock($('.selected', '.users').attr('id'));
        });

        $('#view', '.actions').click(function (e) {
            e.preventDefault();
            window.location = '/Account/Index/' + $('.selected', '.users').attr('id');
        });
    });

    function deactivate(id) {
        $.ajax({
            url: '@Url.Action("Deactivate", "Users")',
            type: 'POST',
            data: '{ "Id": "' + id + '" }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    $('.status', '#' + id).find('.approved').addClass('unapproved').removeClass('approved');
                    pMessage.show().addClass('ui-state-highlight').text('Your user has been deactivated.');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 118).');
            }
        });
    };

    function activate(id) {
        $.ajax({
            url: '@Url.Action("Activate", "Users")',
            type: 'POST',
            data: '{ "Id": "' + id + '" }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    $('.status', '#' + id).find('.unapproved').addClass('approved').removeClass('unapproved');
                    pMessage.show().addClass('ui-state-highlight').text('Your user has been activated.');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 119).');
            }
        });
    };

    function unlock(id) {
        $.ajax({
            url: '@Url.Action("Unlock", "Users")',
            type: 'POST',
            data: '{ "Id": "' + id + '" }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    $('.status', '#' + id).find('.locked').addClass('unlocked').removeClass('locked');
                    pMessage.show().addClass('ui-state-highlight').text('Your user has been unlocked.');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 120).');
            }
        });
    };
</script>