@using Boomerang.Models
@model AdvancedSearchModel

@{
    ViewBag.Title = "Advanced search";
}

@section navigation
{
	<li id="current">@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li>@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li>@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<!--<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>-->
	<!--<li>@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>-->
}

<div class="container">
    <div class="row">
        <div class="twlevecol last">
            <h2>@ViewBag.Title</h2>

            <p class="message"></p>
                 
            <div class="form">
                <select name="Type" id="QueryType">
                    <option value="0">Clients</option>
                    <option value="1">Candidates</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container" id="clients" style="display: none;">
    <div class="row">
        <div class="twlevecol last">
            @using (Html.BeginForm("Clients", "Advanced", FormMethod.Post, new { @novalidate = "novalidate" }))
            {
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Client.SearchClient)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Client.SearchClient, new { placeholder = "Eg: Boomerang recruitment" })</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Client.ShowActive, new { @checked = "checked" })@Html.LabelFor(m => m.Client.ShowActive)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Client.ShowInactive, new { @checked = "checked" })@Html.LabelFor(m => m.Client.ShowInactive)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Client.SearchAddress)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Client.SearchAddress, new { placeholder = "Eg: Huddersfield road" })</div>
                        </div>
                    </div>
                    
                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Client.SearchContact)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Client.SearchContact, new { placeholder = "Eg: User@gmail.com" })</div>
                        </div>
                    </div>
                    
                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Client.SearchSector)
                        </div>

                        <div class="table-cell tencol last"> 
                            <div class="input">@Html.TextBoxFor(m => m.Client.SearchSector, new { placeholder = "Eg: Engineering" })</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twelvecol last"> 
                            <button class="button primary">Search</button>
                            <a href="#" id="backlink">Go back</a>
                        </div>
                    </div>
                </div>                      
            }
        </div>
    </div>
</div>

<div class="container" id="candidates" style="display: none;">
    <div class="row">
        <div class="twlevecol last">
            @using (Html.BeginForm("Candidates", "Advanced", FormMethod.Post, new { @novalidate = "novalidate" }))
            {
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Candidate.SearchCandidate)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Candidate.SearchCandidate, new { placeholder = "Eg: Nicky Battye" })</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.ShowActive, new { @checked = "checked" })@Html.LabelFor(m => m.Candidate.ShowActive)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.ShowInactive, new { @checked = "checked" })@Html.LabelFor(m => m.Candidate.ShowInactive)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Candidate.SearchAddress)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Candidate.SearchAddress, new { placeholder = "Eg: Huddersfield road" })</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.ShowCrb)@Html.LabelFor(m => m.Candidate.ShowCrb)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.HideCrb)@Html.LabelFor(m => m.Candidate.HideCrb)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Candidate.SearchSkills)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Candidate.SearchSkills, new { placeholder = "Eg: NVQ Electronics" })</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.Interviewed)@Html.LabelFor(m => m.Candidate.Interviewed)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.NotInterviewed)@Html.LabelFor(m => m.Candidate.NotInterviewed)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twocol">
                            @Html.LabelFor(m => m.Candidate.SearchWork)
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="input">@Html.TextBoxFor(m => m.Candidate.SearchWork, new { placeholder = "Eg: Engineer" })</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.References)@Html.LabelFor(m => m.Candidate.References)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.NoReferences)@Html.LabelFor(m => m.Candidate.NoReferences)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.FullTime, new { @checked = "checked" })@Html.LabelFor(m => m.Candidate.FullTime)</div>
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.PartTime)@Html.LabelFor(m => m.Candidate.PartTime)</div>
                        </div>

                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.Student)@Html.LabelFor(m => m.Candidate.Student)</div>
                        </div>

                        <div class="table-cell fourcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.Temp)@Html.LabelFor(m => m.Candidate.Temp)</div>
                        </div>
                    </div>

                    <div class="table-row" style="margin-bottom: 10px;">
                        <div class="table-cell twocol">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.NightShifts)@Html.LabelFor(m => m.Candidate.NightShifts)</div>
                        </div>

                        <div class="table-cell fourcol"> 
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.DayShifts)@Html.LabelFor(m => m.Candidate.DayShifts)</div>
                        </div>

                        <div class="table-cell sixcol last">
                            <div class="radio">@Html.CheckBoxFor(m => m.Candidate.Other)@Html.LabelFor(m => m.Candidate.Other)</div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell twelvecol last"> 
                            <button class="button primary">Search</button>
                            <a href="#" id="backlink">Go back</a>
                        </div>
                    </div>
                </div>  
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var _type = getParameterByName("Type");
        if (_type == undefined || _type == 0) {
            $('#clients').show();
            $('#QueryType').val(0);
        } else {
            $('#candidates').show();
            $('#QueryType').val(1);
        }


        $('#QueryType').change(function () {
            window.location = "/Advanced?Type=" + $(this).val();
        });
    });

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.href);
        if (results == null)
            return "";
        else
            return decodeURIComponent(results[1].replace(/\+/g, " "));
    };
</script>