@using System.Collections.ObjectModel
@using Core
@model Collection<Client>

@{
    ViewBag.Title = "Clients";
}

@section navigation
{
	<li>@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li id="current">@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li>@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>
	<li>@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>
}

<div class="container">
    <div class="row">
        <div class="eightcol">
        
            <h2>@ViewBag.Title</h2>

            <p class="message"></p>
            
            <div class="pagination"><div class="page_navigation"></div></div>
			<table width="100%" class="default-table clients"> 
                <thead>            
				    <tr>
                        <th><span class="tick"></span></th>
					    <th>Forname</th>
					    <th>Primary contact</th>
					    <th>Active</th>
				    </tr>
                </thead> 
                <tbody>
                    @foreach (Client Client in Model)
                    {
                        <tr id="@Client.Id">
                            <td><span class="tick"></span></td>
                            <td>@Client.Name</td>
                            <td>@Client.PrimaryContact().Email</td>
                            <td>
                                @if (Client.Active)
                                {
                                    <input type="checkbox" disabled="disabled" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled="disabled" />
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="fourcol last">
            <h2>Actions</h2>
            <div class="form">
                <ul class="actions">
                    <li><a href="/Clients/Create" class="button" id="create">Create a new Client</a></li>
                    <li><a href="#" class="button" id="edit">Edit the selected Client</a></li>
                    <li><a href="#" class="button" id="delete">Delete the selected Client</a></li>
                    <li><a href="#" class="button" id="active">Mark the selected Client active</a></li>
                    <li><a href="#" class="button" id="inactive">Mark the selected Client in-active</a></li>
                </ul>
            </div>

            <div class="form">
                <input type="checkbox" checked="checked" /> Show only active
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var settings = {
        selectedColumn: 1,
        ignoreColumns: [0],
        onComplete: function () {
            $('.page_navigation').paginate({ collection: 'tbody > tr', recordsperpage: 20, container: 'tbody > tr' });
        }
    };
    var pMessage = $('.message');

    $(function () {
        $('.clients').sortTable(settings);
        displayButtons('.clients');

        $('.clients').live('click', function () {
            displayButtons('.clients');
        });

        $('#edit').click(function (e) {
            e.preventDefault();
            window.location = '/Clients/Edit/' + $('tbody tr.selected', '.clients').attr('id');
        });

        $('#delete').click(function (e) {
            e.preventDefault();
            deleteClients();
        });
    });

    function deleteClients() {
        $.each($('tbody tr.selected', '.clients'), function () {
            deleteClient($(this).attr('id'));
        });
    };

    function deleteClient(id) {
        $.ajax({
            url: '@Url.Action("Delete", "Clients")',
            type: 'POST',
            data: '{ "Id": ' + id + ' }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    $('#' + id).remove();
                    pMessage.show().addClass('ui-state-highlight').text('Your clients have been deleted.');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 105).');
            }
        });
    };
</script>
