@using System.Collections.ObjectModel
@using Boomerang.Web;
@model Collection<GenericType>

@{
    ViewBag.Title = "Editing \"" + ViewBag.Name + "\"";
}

@section navigation
{
	<li>@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li>@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li>@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<!--<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>-->
	<!--<li id="current">@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>-->
}

<div class="container">
    <div class="row">
        <div class="eightcol">
            <h2>@ViewBag.Title</h2>

            <p class="message"></p>

            <div class="form">
                <ul class="default-list" id="list">
                    @foreach (GenericType g in Model)
                    {
                        <li id="@g.Id"><span class="tick" id="@g.Order"></span>@g.Name</li>
                    }
                </ul>

                <div class="no-border">
                    <a href="#" id="backlink">Go back</a>
                </div>
            </div>
        </div>
        <div class="fourcol last">
            <h2>Actions</h2>
            <div class="form">
                <ul class="actions">
                    <li><a href="#" class="button" id="up">Move selected type up</a></li>
                    <li><a href="#" class="button" id="down">Move the selected type down</a></li>
                    <li><a href="#" class="button" id="delete">Delete the selected type</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var pMessage = $('.message');
    var settings = {
        selectedColumn: 1,
        ignoreColumns: [0]
    };

    $(function () {
        displayButtons('#list');

        $('#list > li').live('click', function () {
            var n = displayButtons('#list'); // Display our buttons
            
            if (n == 1) {
                showUpDownButton();
            }
        });

        $('#up').click(function (e) {
            e.preventDefault();
            var $li = $('#list > li.selected');
            var order = $li.find('.tick').attr('id');
            var i = $li.index();

            move(order, 'up', $li);
        });

        $('#down').click(function (e) {
            e.preventDefault();
            var $li = $('#list > li.selected');
            var order = $li.find('.tick').attr('id');
            var i = $li.index();

            move(order, 'down', $li);
        });

        $('#delete').click(function (e) {
            e.preventDefault();
            // Delete the item
        });
    });

    function showUpDownButton() {
        var $li = $('#list > li.selected');
        var order = $li.find('.tick').attr('id');

        var j = $('#list > li > span.tick').length;
        var foundMore = false;
        var foundLess = false;
        while (j--) {
            if ($('#list > li > span.tick').eq(j).attr('id') > order) {
                foundMore = true;
            }
            if ($('#list > li > span.tick').eq(j).attr('id') < order) {
                foundLess = true;
            }
        };
        if (!foundMore) {
            $('#down').hide();
        } else {
            $('#down').show();
        }
        if (!foundLess) {
            $('#up').hide();
        } else {
            $('#up').show();
        }
    };

    function moveUp(element, oldOrder, newOrder) {
        var prev = element.prev();

        element.find('.tick').attr('id', newOrder);
        prev.find('.tick').attr('id', oldOrder);

        element.insertBefore(prev);
        showUpDownButton();
    };

    function moveDown(element, oldOrder, newOrder) {
        var next = element.next();

        element.find('.tick').attr('id', newOrder);
        next.find('.tick').attr('id', oldOrder);
        
        element.insertAfter(next);
        showUpDownButton();
    };
    
    function move(order, direction, element) {
        var _name = '@ViewBag.Target';
        var _direction = (direction == 'up') ? 0 : 1;

        $.ajax({
            url: '/Lists/Move' + _name,
            type: 'POST',
            data: '{ "Order": ' + order + ', "Direction": ' + _direction + ' }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    if (_direction) {
                        moveDown(element, order, o.order);
                    } else {
                        moveUp(element, order, o.order);
                    }
                    // pMessage.show().addClass('ui-state-highlight').text('Your client\'s contact has been saved.');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 113).');
            }
        });
    };

</script>
