@{
    ViewBag.Title = "Manage";
}

@section navigation
{
	<li>@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li>@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li>@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<!--<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>-->
	<!--<li id="current">@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>-->
}

<div class="container">
    <div class="row">
        <div class="eightcol">
            <h2>@ViewBag.Title</h2>

            <table class="default-table" id="lists">
                <thead>
                    <tr>
                        <th><span class="tick"></span></th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="Salary-Rates">
                        <td><span class="tick"></span></td>
                        <td>Salary Rates</td>
                        <td>Lists the salary rates for Candidates</td>
                    </tr>
                    <tr id="Transport-Types">
                        <td><span class="tick"></span></td>
                        <td>Transport Types</td>
                        <td>Lists the transport types available for Candidates</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fourcol last">
            <h2>Actions</h2>
            <div class="form">
                <ul class="actions">
                    <li><a href="#" class="button" id="edit">Edit the selected type</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var settings = {
        selectedColumn: 1,
        ignoreColumns: [0]
    };

    $(function () {
        displayButtons('#lists');

        $('#lists').live('click', function () {
            displayButtons('#lists');
        });

        $('#edit').click(function (e) {
            e.preventDefault();
            window.location = '/Lists/Edit/' + $('tbody tr.selected', '#lists').attr('id');
        });
    });
</script>