@using Boomerang.Web;

@{
    ViewBag.Title = "Create a client";
    var users = Membership.GetAllUsers();
    var currentUser = User.Identity.Name;
}

@section navigation
{
	<li>@Html.ActionLink("Index", "Index", "Home")<span></span></li>
	<li id="current">@Html.ActionLink("Clients", "Index", "Clients")<span></span></li>
	<li>@Html.ActionLink("Candidates", "Index", "Candidates")<span></span></li>
	<li>@Html.ActionLink("Users", "Index", "Users")<span></span></li>
	<!--<li>@Html.ActionLink("Profile", "Index", "Account")<span></span></li>-->
	<!--<li>@Html.ActionLink("Lists", "Index", "Lists")<span></span></li>-->
}

<div class="container">
    <div class="row">
        <div class="twelvecol last">

            <h2>@ViewBag.Title</h2>

            <p class="message"></p>

            <div class="tabs">
                <ul>
                    <li><a href="#client">Details</a></li>
                    <li><a href="#sector">Sector</a></li>
                    <li><a href="#contact">Contacts</a></li>
                    <li><a href="#history">History</a></li>
                </ul>

                <div id="client" class="form">

                    <fieldset>
                        <legend>Client details</legend>

                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell twocol">
                                    <label>Name</label>
                                </div>
                                <div class="table-cell fourcol last">
                                    <div class="input"><input type="text" name="Name" /></div>
                                </div>
                                <div class="table-cell twocol">
                                    <label>Assign to</label>
                                </div>
                                <div class="table-cell fourcol last">
                                    <div class="input">
                                        <select id="UserId" name="UserId">
                                            @foreach (MembershipUser user in users)
                                            {
                                                if (user.UserName == currentUser)
                                                {
                                                    <option selected="selected" value="@user.ProviderUserKey.ToString()">@user.UserName</option>
                                                }
                                                else
                                                {
                                                    <option value="@user.ProviderUserKey.ToString()">@user.UserName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell twocol">
                                    <label>Website</label>
                                </div>
                                <div class="table-cell tencol last">
                                    <div class="input"><input type="text" name="Website" id="Website" /></div>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell twelvecol last">
                                    <label>Bio</label>
                                </div>
                                <div class="table-cell twelvecol last">
                                    <textarea name="Bio" id="Bio"></textarea>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <div class="table" id="addresses">
                        @Html.Raw(new Client().HtmlAddresses())
                    </div>

                    <div class="no-border">
                       <button class="primary saveEdit">Save and edit</button><button class="save">Save</button><a href="#" id="backlink">Go back</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

<script type="text/javascript">
    var pMessage = $('.message');
    var pName = $('input[name=Name]', '#client'), pWebsite = $('#Website', '#client'), pBio = $('#Bio', '#client'), pUserId = $('#UserId', '#client'); // Client form   
    
    $(function () {
        $('.tabs').tabs({ disabled: [1, 2, 3] }); // jquery ui tabs
        $('#datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });

        $('.saveEdit', '#client').click(function () {
            $.event.trigger('AjaxButtonClick', this);

            if (validateClient()) {
                saveClient(true);
            } else {
                $.event.trigger('AjaxButtonError');
            }
        });

        $('.save', '#client').click(function () {
            $.event.trigger('AjaxButtonClick', this);

            if (validateClient()) {
                saveClient(false);
            } else {
                $.event.trigger('AjaxButtonError');
            }
        });

        $('.btnAddAddress').live("click", function () {
            var count = $('#addresses > .table-row').last().find('fieldset').length;
            var newRow = (count == 2) ? true : false;

            addAddress(newRow);
        });

        $('.removeAddress').live("click", function () {
            var dataId = $(this).attr('data-id');
            
            $('#' + dataId).parent().parent().remove();
        });

        $.each($('input[name=PostCode]'), function () {
            $(this).bind('keyup', function (e) {
                if (e.which >= 97 && e.which <= 122) {
                    var newKey = e.which - 32;
                    // I have tried setting those
                    e.keyCode = newKey;
                    e.charCode = newKey;
                }

                $(this).val(($(this).val()).toUpperCase());
            });
        });
    });

    function validateClient() {
        if (pName.val().length > 0) {
            pName.removeClass('ui-state-error');
            pMessage.show().removeClass('ui-state-error').removeClass('ui-state-highlight').text('');
            return true;
        } else {
            pName.addClass('ui-state-error').effect('shake');
            pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('Please correct the errors below:');
            return false;
        }
    };

    function validateAddress(target) {
        return true;
    };

    function saveAddresses(clientId) {       
        var target = $('#addresses');
        
        $.each(target.find('.address'), function (i, address) {
            if (!saveAddress(address, clientId))
                return false;
        });

        return true;
    };

    function clearForm() {
        $.each($('input[type=text]'), function () {
            $(this).val('');
        });

        $.each($('textarea'), function () {
            $(this).val('');
        });

        $.each($('select'), function () {
            $(this).val('0');
        });
    };

    function saveClient(redirect) {
        $.ajax({
            url: '@Url.Action("Save", "Clients")',
            type: 'POST',
            data: '{ "Id": 0, "Name": "' + pName.val() + '", "Website": "' + pWebsite.val() + '", "Bio": "' + pBio.val() + '", "UserId": "' + pUserId.val() + '" }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    if (saveAddresses(o.id)) {
                        if (redirect) {
                            window.location = "/Clients/Edit/" + o.id;
                        } else {
                            clearForm();
                            pMessage.show().addClass('ui-state-highlight').removeClass('ui-state-error').text('Your client has been created.');
                            $.event.trigger('AjaxButtonSuccess');
                        }
                    } else {
                        pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text("There was a problem saving one or more of the addresses for this record.");
                        $.event.trigger('AjaxButtonError');
                    }
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                    $.event.trigger('AjaxButtonError');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 100).');
                $.event.trigger('AjaxButtonError');
            }
        });
    };

    function addAddress(newRow) {
        $.ajax({
            url: '@Url.Action("AddAddress", "Common")',
            type: 'POST',
            data: '{ "newRow": ' + newRow + '  }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                if (o.success) {
                    if (newRow) {
                        $('#addresses').append(o.address);
                    } else {
                        $('#addresses > .table-row').last().append(o.address);
                    }
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 122).');
            }
        });
    };

    function saveAddress(target, clientId) {
        var pAddressId = $(target).attr('id'), pTypeId = $('input[name=TypeId]', target), pHouse = $('input[name=HouseNumber]', target), pStreet = $('input[name=Street]', target), pArea = $('input[name=Area]', target), pTown = $('input[name=Town]', target), pPostCode = $('input[name=PostCode]', target), pCounty = $('select[name=County]', target), pInvoice = $('#Invoice', target); // Address form
        var bSuccess = false;

        $.ajax({
            async: false,
            url: '@Url.Action("SaveAddress", "Common")',
            type: 'POST',
            data: '{ "Id": ' + pAddressId + ', "ClientId": ' + clientId + ', "HouseNumber": "' + pHouse.val() + '", "Street": "' + pStreet.val() + '", "Area": "' + pArea.val() + '", "Town": "' + pTown.val() + '", "County": "' + pCounty.val() + '", "PostCode": "' + pPostCode.val() + '", "Invoice": ' + pInvoice.is(':checked') + ' }',
            dataType: 'text json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            success: function (o) {
                bSuccess = o.success;

                if (bSuccess) {
                    $.event.trigger('AjaxButtonSuccess');
                } else {
                    pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text(o.error);
                    $.event.trigger('AjaxButtonError');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                pMessage.show().addClass('ui-state-error').removeClass('ui-state-highlight').text('An unspecified error has occured. Please contact the administrator (error code: 101).');
                $.event.trigger('AjaxButtonError');
            }
        });
    };
</script>